  .movie-grid {
   
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 50px;
    padding-top: 80px; 
    padding-left: 100px;
    padding-right: 100px;
  }
  .movie-item:hover {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
    
  }
  
  .movie-item {
    transition-duration: 500ms;
    text-align: center;
  }
  
  .movie-poster {
    width: 80%;
    max-height: 340px;
    object-fit: cover;
    border-radius: 10px;
  }

  .movie-title {
    font-family: 'Playfair Display', serif;
    margin-top: 1px;
    font-size: 18px;
    font-weight: bolder;
  }

.btn-group{
  display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
}

.prev{
  border: none;
    background-color: transparent;
}

.next{
  border: none;
    background-color: transparent;
}

.prev:hover{
  cursor: pointer;
}

.next:hover{
  cursor: pointer;
}

.selector{
  position: absolute;
  left: 730px;
  top: 41px;
  border: none;
  border-radius: 7px;
  padding: 4px 12px;
  cursor: pointer;
}