.movie-container{
    margin-top:100px;
    display: flex;
    justify-content: center;
}

img {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-right: 20px;
}

.text-container {
  
    justify-content: center;
    display: flex; /* Use flexbox for the text container as well */
    flex-direction: column; /* Stack the child elements vertically */
    margin-left: 20px;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 0; /* Remove default margin from <p> elements */
}



.seat-row {
    display: flex;
    justify-content: center; /* Center the seats horizontally */
    margin-bottom: 10px; /* Adjust the spacing between rows */
  }
  
  .seat {
    width: 40px; /* Adjust the width of each seat */
    height: 40px; /* Adjust the height of each seat */
    cursor: pointer;
    
    margin: 5px; /* Adjust the spacing between seats */
  }
  
  .selected {
    border: 2px solid #007BFF;
  }
  .button{
    border-radius: 10px;
    padding: 10px 15px;
    border: 0.1px solid;
    background-color: #eac38d;
    color: white;
    font-size: large;
    font-weight: bold;
  }

  .date-picker{
    border-radius: 5px;
    border: 0.1px solid;
    color: white;
    background-color: #eac38d;
    padding: 10px 15px;
    font-size: large;
    font-weight: bold;
  }