/* Your existing styles for the navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eac38d;
  position: relative;
  top: 22px;
  width: 760px;
  left: 552px;
  border-radius: 20px;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    
  .active {
    background-color: #04AA6D;
  }

  input{
    position: absolute;
    right: 146px;
    top: 11px;
    border: none;
    padding: 5px;
    border-radius: 7px;
  }
  .img-user{
    position: absolute;
    right: 80px;
    top: -5px;
  }

  .img-user img{
    width: 30px;
    height: 30px;
  }
  /* Add padding to the content to avoid overlapping with the fixed navbar */
 