<link class="content" href="booking.component.css">

<div *ngIf="filteredData" class="movie-grid">
  <div *ngFor="let movie of filteredData" class="movie-item">
    <div (click)="navigateToBookMovie(movie)">
      
<a class="link" href="https://codepen.io/simoberny/pen/qxxOqj" target="_blank"></a>
<div class="movie_card" id="bright" *ngIf="movie" [style.background]="'url(https://image.tmdb.org/t/p/w500/' + movie.backdrop_path + ') no-repeat center center / cover'">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"/>
      <h1>{{ movie.original_title }}</h1>
      <h4>{{ movie.release_date }}</h4>
      <span class="minutes">Rating: {{movie.vote_average}}</span>
      <p class="type">{{movie.original_language}}</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        {{ movie.overview }}
      </p>
    </div>
   
  </div>
  <div class="blur_back bright_back"></div>
</div>

    </div>
  </div>
</div>